@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@Html.ActionLink(" All Machines", "Index", null, null, new { @class="btn btn-info fa fa-cogs" })
<p>Add Machine</p>

@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.Label("Name")</td>
      <td>@Html.TextBoxFor(model => model.Name)</td>
    </tr>
    <tr>
      <td>@Html.Label("Purchase Date")</td>
      <td>@Html.TextBoxFor(model => model.Name)</td>
    </tr>
    <tr>
      <td>@Html.Label("Serial Number")</td>
      <td>@Html.TextBoxFor(model => model.Name)</td>
    </tr>
    <tr>
      <td>@Html.Label("Select Type")</td>
      <td>@Html.DropDownList("TypeId")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-default fa" ><i class="fa-user-plus"> Add Machine</i></button>
}