@{
  Layout = "_Layout";
}

@model Factory.Models.MachineType;

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" All Types", "Index",null, null, new { @class="btn btn-info fa fa-gear" })
@Html.ActionLink(" Edit", "Edit", new { id = Model.MachineTypeId }, new { @class="btn btn-info fa fa-edit" })
<hr />
<p>@Html.DisplayFor(model => model.Name) Details</p>
<hr />
<p>@Html.Label("Name"): @Html.DisplayFor(model => model.Name)</p>
<hr />
<div class="box">
  <div class="inner-box">
    @if(@Model.Licenses.Count == 0)
    {
      <p>This Machine Type does not have any Licenses.</p>
    }
    else
    {
      <p>Licenses</p>
      <ul>
      @foreach(var join in Model.Licenses)
      {
        <li>@join.License.Name
        @Html.ActionLink("Delete", "DeleteLicense", "MachineTypes", new { joinId = @join.LicenseTypeId, MachineTypeId = Model.MachineTypeId }, new { @class="btn btn-info fa fa-times" })
        </li>
      }
      </ul>
    }
  </div>
</div>
<hr />
<div class="box">
  <div class="inner-box">
    @if(@ViewBag.Machines.Count == 0)
    {
      <p>This Machine Type does not have any Machines.</p>
    }
    else
    {
      <p>Machines</p>
      <ul>
      @foreach(var machine in ViewBag.Machines)
      {
        <li>@machine.Name</li>
      }
      </ul>
    }
  </div>
</div>
<hr />