@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@Html.ActionLink(" All Engineers", "Index", null, null, new { @class="btn btn-info fa fa-address-book-o" })
<p>Add Engineer</p>

@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.Label("Name")</td>
      <td>@Html.TextBoxFor(model => model.Name)</td>
    </tr>
    <tr>
      <td>@Html.Label("Hire Date")</td>
      <td>@Html.TextBoxFor(model => model.HireDate)</td>
    </tr>
    <tr>
      <td>@Html.Label("Contact Info")</td>
      <td>@Html.TextBoxFor(model => model.Contact)</td>
    </tr>
    <tr>
      <td>@Html.Label("Select License")</td>
      <td>@Html.DropDownList("LicenseId")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-default fa" ><i class="fa-user-plus"> Add Engineer</i></button>
}