@{
  Layout = "_Layout";
}

@Html.ActionLink(" All Engineers", "Index", "Engineers", null, new { @class="btn btn-info fa fa-address-book-o" })
@Html.ActionLink(" All Licenses", "Index", "Licenses", null, new { @class="btn btn-info fa fa-address-card-o" })
@Html.ActionLink(" All Machines", "Index", "Machines", null, new { @class="btn btn-info fa fa-cogs" })
@Html.ActionLink(" All Records", "Index", "Records", null, new { @class="btn btn-info fa fa-folder-open" })
@Html.ActionLink(" All Types", "Index", "MachineTypes", null, new { @class="btn btn-info fa fa-gear" })
<hr />
<p class="title1">Welcome to Dr. Sillystringz Factory Records</p>
<hr />