@{
  Layout = "_Layout";
}

@Html.ActionLink(" All Engineers", "Index", null, null, new { @class="btn btn-info fa fa-address-book-o" })
@Html.ActionLink(" All Licenses", "Index", null, null, new { @class="btn btn-info fa fa-address-card-o" })
@Html.ActionLink(" All Machines", "Index", null, null, new { @class="btn btn-info fa fa-cogs" })
@Html.ActionLink(" All Records", "Index", null, null, new { @class="btn btn-info fa fa-folder-open" })
@Html.ActionLink(" All Types", "Index", null, null, new { @class="btn btn-info fa fa-address-gear" })

<p>Welcome to Dr. Sillystringz Factory Records</p>
