@{
  Layout = "_Layout";
}

@model Factory.Models.Record

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" All Records", "Index", null, null, new { @class="btn btn-info fa fa-folder-open" })
<hr />
<p>Add Record</p>
<hr />
@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.Label("Issue")</td>
      <td>@Html.TextBoxFor(model => model.Issue)</td>
    </tr>
    <tr>
      <td>@Html.Label("Select Type")</td>
      <td>@Html.DropDownList("RecordType")</td>
    </tr>
    <tr>
      <td>@Html.Label("Details")</td>
      <td>@Html.TextBoxFor(model => model.Details)</td>
    </tr>
    <tr>
      <td>@Html.Label("Issue Date")</td>
      <td>@Html.TextBoxFor(model => model.IssueDate)</td>
    </tr>
    <tr>
      <td>@Html.Label("Date Finished")</td>
      <td>@Html.TextBoxFor(model => model.FinishDate)</td>
    </tr>
    <tr>
      <td>@Html.Label("Select Engineer")</td>
      <td>@Html.DropDownList("EngineerId")</td>
    </tr>
    <tr>
      <td>@Html.Label("Select Machine")</td>
      <td>@Html.DropDownList("MachineId")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-default fa" ><i class="fa-user-plus"> Add Record</i></button>
}
<hr />